:root {
  --white: #fafafa;
  --black: #262626;
  --light-gray: #eae9e9;
  --gray: #d9d9d9;
  --dark-gray: #bfbfbf;
  --lilac: #ce8bee;
  --green: #abe749;
  --blur-color: rgba(38 38 38 / 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* A partir daqui */

html, body {
  height: 100%;
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.u-appear {
  animation: appear .5s ease-out calc(var(--d) * .2s) both;
}

.l-container {
  height: 100%;
  padding: 2rem 1.5rem;
}

.l-container__wrapper {
  display: grid;
  grid-template-rows: 3.5625rem 1fr; /* 57px 1fr */
  height: 100%;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__logo {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--black);
}

.l-header__logo::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: var(--white);
}

.m-nav {
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--blur-color);
  backdrop-filter: blur(4px);
  transition: all 300ms ease-in;
  z-index: 8;
}

.m-nav__list {
  text-transform: uppercase;
  text-align: center;
}

.m-nav__list-item + .m-nav__list-item {
  margin-top: 1.5rem;
}

.m-nav__link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.m-nav.is-active {
  top: 0rem;
}

.m-login-signup {
  display: flex;
  width: min(100% - 1.5rem, 14.5rem);
  background-color: var(--light-gray);
  padding: 0.5rem;
  margin-top: 6rem;
  border-radius: 0.75rem;
}

.m-login-signup__link {
  flex: 1 1 100%;
  padding: 0.75rem 0;
  text-align: center;
  border-radius: 0.75rem;
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 600;
}

.m-login-signup__link:last-of-type {
  color: var(--white);
  background-color: var(--black);
}

.m-menu {
  position: relative;
  gap: 0.375rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9;
}

.m-menu__span {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  transition: all 100ms ease-in var(--i), width ease 0ms, background ease 0ms;
}

.m-menu__span--border {
  background-color: transparent;
  border: 0.125rem solid var(--black);
}

.m-menu__span:nth-of-type(2) {
  left: 1.25rem;
}

.m-menu__span:nth-of-type(3) {
  left: 2.125rem;
}

.m-menu__span:nth-of-type(4) {
  top: 1.25rem;
}

.m-menu__span:nth-of-type(5) {
  top: 1.25rem;
  left: 1.25rem;
}

.m-menu__span:nth-of-type(6) {
  top: 1.25rem;
  left: 2.125rem;
}

.m-menu__span:nth-of-type(7) {
  top: 2.125rem;
}

.m-menu__span:nth-of-type(8) {
  top: 2.125rem;
  left: 1.25rem;
}

.m-menu__span:nth-of-type(9) {
  top: 2.125rem;
  left: 2.125rem;
}

.m-menu.is-active .m-menu__span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-menu.is-active .m-menu__span:nth-of-type(8),
.m-menu.is-active .m-menu__span:nth-of-type(9) {
  background-color: var(--white);
  width: 2.25rem;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: width 100ms ease 340ms, background 100ms ease 340ms;
}

.m-menu.is-active .m-menu__span:nth-of-type(9) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.l-content {
  display: grid;
  grid-template-rows: 24.75rem repeat(3, 17rem);
  height: 100%;
  padding: 1.5rem 0;
  gap: 1.5rem;
}

.l-content > a, 
.l-content > div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 1.75rem;
}

.l-content > a {
  cursor: pointer;
  transition: transform .2s ease;
}

.l-content > a:not(.l-content__products):hover {
  transform: translateY(-.5rem);
}

.l-content__span {
  font-size: .875rem;
  font-weight: 600;
}

.l-content__title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: auto; 
}

.l-content__products > .l-content__title {
  position: relative;
  inset: 0;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: .5rem;
  margin-bottom: 3rem;
}

.m-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: var(--light-gray);
  padding: .875rem 1.75rem;
  margin-top: auto;
  cursor: pointer;
  transition: transform .2s ease;
}

.m-shop:hover {
  transform: translateY(-.25rem);
}

.m-shop__span {
  display: block;
  font-size: .75rem;
  font-weight: 600;
  color: var(--dark-gray);
}

.m-shop__all-products {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
  margin-top: .5rem;
}

.m-shop__icon {
  font-size: 2.25rem;
  color: var(--black);
}

.l-content__products {
  background-color: var(--black);
  color: var(--white);
}

.l-content__blog {
  background-color: var(--gray);
  color: var(--black);
}

.l-content__about {
  background-color: var(--lilac);
  color: var(--white);
}

.l-content__contact {
  background-color: var(--green);
  color: var(--black);
}

.l-content__icon {
  position: absolute;
  right: .75rem;
  top: .75rem;
  font-size: 3rem;
  transform: rotate(45deg);
  transition: all .2s ease;
}

.l-content > a:not(.l-content__products):hover .l-content__icon {
  right: .375rem;
  top: .375rem;
}

.l-content__icon.bx-paper-plane {
  font-size: 2.25rem;
  right: 1rem;
  top: 1rem;
  transform: rotate(0deg);
}

.l-content > a:not(.l-content__products):hover .l-content__icon.bx-paper-plane  {
  right: .75rem;
  top: .75rem;
}

/* media querie for 576px */
@media (min-width: 36rem) {
  .l-container {
    padding: 3rem;
  }

  .l-content {
    grid-template: 'prod prod' 17rem 'prod prod' 17rem 'blog blog' 17rem 'about cont' 17rem / 1fr 1fr;
    padding: 3rem 0;
  }

  .l-content > a {
    padding: 2rem 2rem;
  }

  .l-content .l-content__products {
    grid-area: prod;
    height: 100%;
    padding: 3rem;
  }

  .l-content__products > .l-content__title {
    font-size: 4rem;
  }

  .m-shop {
    max-width: 16rem;
  }
  
  .l-content__blog {
    grid-area: blog;
    height: 100%;
  }
  
  .l-content__about {
    grid-area: about;
    height: 100%;
  }
  
  .l-content__contact {
    grid-area: cont;
    height: 100%;
  }
  
}

/* media querie for 768px */
@media (min-width: 48rem) {
  .l-header {
    gap: 1.75rem;
  }

  .l-header__logo {
    flex-shrink: 0;
  }

  .m-nav {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    transition: background 0ms;
  }

  .m-nav__list {
    display: flex;
    gap: 1.75rem;
  }

  .m-nav__list-item + .m-nav__list-item {
    margin-top: initial;
  }

  .m-nav__link {
    text-transform: initial;
    font-size: 1.125rem;
    font-weight: normal;
    color: var(--black);
  }

  .m-login-signup {
    margin-top: initial;
  }

  .m-menu {
    display: none;
  }

  .l-content {
    grid-template: 'prod prod about' 17rem 'prod prod cont' 17rem 'blog blog blog ' 17rem / 1fr 1fr 1fr;
  }
}

/* media querie for 992px */
@media (min-width: 62rem) {
  .l-content__title {
    font-size: 3rem;
  }  
}

/* media querie for 1200px */
@media (min-width: 75rem) {
  .l-content {
    grid-template: 'prod prod blog blog' 1fr 'prod prod about cont' 1fr / 1fr 1fr 1fr 1fr;
    padding: initial;
    padding-top: 3rem;
  }
}